<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChatRESTAPI.Database.Properties.Settings.KMSupportChatConnectionString"
            connectionString="Data Source=WIN-08151;Initial Catalog=KMSupportChat;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>